[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
zeep = "*"
pycountry = "*"
django-model-utils = "*"
jsonschema = "*"
"psycopg2-binary" = "*"
django-environ = "*"
djangorestframework = "*"
coreapi = "*"
pyyaml = "*"
gunicorn = "*"
mypy-extensions = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pdbpp = "*"
pytest-django = "*"
"flake8-mypy" = "*"
mypy = "*"
pytest-env = "*"
typing-extensions = "*"

[requires]
python_version = "3.7"

[scripts]
start="python manage.py runserver"
migrate="python manage.py migrate"
makemigrations="python manage.py makemigrations"
createsuperuser="python manage.py createsuperuser"
test="pytest"
